<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
   
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>Home Page</h1>
    <div class="container">
        <h3>Vendor</h3>
        <div class="links">
            <a href="/register/vendor" class="btn">Register</a>
            <a href="/login/vendor" class="btn">Login</a>
        </div>
    </div>
    <div class="container">
        <h3>User</h3>
        <div class="links">
            <a href="/register/user" class="btn">Register</a>
            <a href="/login/user" class="btn">Login</a>
        </div>
    </div>
</body>
</html>
